<html>
<head>
  {% if title %}
      <title>{{ title }} - Blog</title>
  {% else %}
      <title>Welcome to Sid's Blog</title>
  {% endif %}
</head>
<body>
      <div>Blog: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('hello') }}">Main Page</a>
        <a href="{{ url_for('login') }}">Login</a>
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li style="color:red">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
</body>
</html>